form {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 15px;
  width: 30%;
}

label {
  display: flex;
  flex-direction: column;
}

.addButton {
  margin-top: 20px;
}

.number {
  border: 1px solid;
}

input {
  height: 30px;
}
