div {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: #010101;
  margin-left: 15px;
}

button {
  padding: 10px;
  font-size: 18px;
}

button:hover {
  background: rgb(55, 82, 234);
  border-radius: 5px;
}
